.basic_h2 {
	padding: 12px;
	margin: 0px;
}

.basic_collection {
	border: 1px solid black;
}

.basic_h2_li {
	border-bottom: 1px solid black;
	background-color: lightgrey;

}





ol{
				counter-reset: li;
				list-style: none;
				*list-style: decimal;
				font: 15px 'sans-serif' ,'Helvetica Neue', Helvetica, Arial, serif;
				padding: 0;
				margin-bottom: 4em;
				text-shadow: 0 1px 0 rgba(255,255,255,.5);
			}

			ol ol{
				margin: 0 0 0 2em;
			}

				

			

			.rectangle-list a{
				position: relative;
				display: block;
				padding: .4em .4em .4em .8em;
				*padding: .4em;
				margin: .5em 0 .5em 2.5em;
				background: #ddd;
				color: #444;
				text-decoration: none;
				-webkit-transition: all .3s ease-out;
				-moz-transition: all .3s ease-out;
				-ms-transition: all .3s ease-out;
				-o-transition: all .3s ease-out;
				transition: all .3s ease-out;	
			}

			.rectangle-list a:hover{
				background: #eee;
			}	

			.rectangle-list a:before{
				content: counter(li);
				counter-increment: li;
				position: absolute;	
				left: -2.5em;
				top: 50%;
				margin-top: -1em;
				background: #fa8072;
				height: 2em;
				width: 2em;
				line-height: 2em;
				text-align: center;
				
			}
			.marked a:before{
				content: counter(li);
				counter-increment: li;
				position: absolute;	
				left: -2.5em;
				top: 50%;
				margin-top: -1em;
				background: yellow;
				height: 2em;
				width: 2em;
				line-height: 2em;
				text-align: center;
				
			}
			
		
			
			
			.rectangle-list a:after{
				position: absolute;	
				content: '';
				border: .5em solid transparent;
				left: -1em;
				top: 50%;
				margin-top: -.5em;
				-webkit-transition: all .3s ease-out;
				-moz-transition: all .3s ease-out;
				-ms-transition: all .3s ease-out;
				-o-transition: all .3s ease-out;
				transition: all .3s ease-out;				
			}

			.rectangle-list a:hover:after{
				left: -.5em;
				border-left-color: #fa8072;				
			}
			
			
			
			
			
			
						
			
	
	#box {
  
 	width: auto;
  
  animation:pulse 0.5s infinite alternate;
}

@keyframes pulse {
  from { box-shadow:0px 0px 10px 3px #0066cc; }
  to { box-shadow:0px 0px 20px 5px red; }
}
	
	
	
	
	
	.pavadinimas{
		font-size:1.2em;
	
	}
	#java{
	
    background-url('images/java.png') no-repeat 5px 2px;

	}
	
	button.accordion2 {
    background-color: white;
    color: #444;
    cursor:default;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	border-left-style: solid;
	

}
button.accordion2.active, button.accordion2:hover {
	background-color: #ccff90;
	cursor:default;
}
	
	
	
	
	
button.accordion {
   
   background-color:#f1f1f1;
    color: #454545;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	border-left-style: solid;

}

button.accordion.active, button.accordion:hover {
    background-color:#ccff90;
}

div.panel {

    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 2900px;  
}

.chip {
    display: inline-block;
    padding: 0 20px;
    height: 100px;
	width: auto;
    font-size: 20pt;
    line-height: 100px;
    border-radius: 25px;
    background-color: white;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}




@media only screen and (max-width: 759px) { 
.chip {
    display: inline-block;
    padding: 0 20px;
    height: 50px;
	width: 100%;
    font-size: 20pt;
    line-height: 100px;
    border-radius: 25px;
    background-color: white;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: white;
  height: 100px ;
  border-bottom: solid 1px #275da1;
}



}



@media only screen and (max-width: 480px) { 

.chip {
    display: inline-block;
    padding: 0 20px;
    height: 50px;
	width: 100%;
    font-size: 14pt;
    line-height: 50px;
    border-radius: 25px;
    background-color: white;
}


.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: white;
  height: 70px ;
  border-bottom: solid 1px #275da1;
}


}













